.round-button {
  cursor: pointer;
  font-size: 1.8em;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  & svg {
    margin: 0;
    fill: #444;
  }
}
